/**
 * GENERAL
 * 
 * MISC
 * 
 * HOME
 *
 * ABOUT US
 *
 * MENU
 *
 * OPENING HOURS
 *
 * STAFF
 *
 * RESERVATION
 *
 * REVIEWS
 *
 * GALLERY
 *
 * CONTACT
 *
 * MEDIA QUERIES
 */
/*------------------------------------*\
	GENERAL
\*------------------------------------*/
@font-face {
  font-family: wildYouth;
  src: url("../font/WildYouth-Regular.otf"); }
html,
body {
  height: 100%;
  max-width: 1920px; }

body {
  font-family: Average, "Times New Roman", Times, serif;
  font-size: 20px;
  font-weight: 400;
  color: #fff; }

a:link,
a:hover {
  text-decoration: none; }

::-webkit-scrollbar {
  width: 7px;
  background-color: #000; }

::-webkit-scrollbar-thumb {
  background-color: #e4bb7a; }

/*------------------------------------*\
	MISC
\*------------------------------------*/
.home__button, .reservation__button {
  display: inline-block;
  padding: 1rem;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  text-transform: uppercase;
  background-color: #e4bb7a; }

.home__subtitle, .menu__subtitle, .opening__subtitle, .stuff__subtitle, .reservation__subtitle, .gallery__subtitle, .contact__subtitle {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: .12rem;
  text-transform: uppercase; }

.home__title, .menu__title, .opening__title, .stuff__title, .reservation__title, .gallery__title, .contact__title {
  font-family: wildYouth, "Brush Script MT", cursive;
  font-size: 3rem;
  font-weight: 400;
  color: #e4bb7a; }

.top-menu__wrapper, .header__wrapper, .about__container, .opening__wrapper, .staff__wrapper, .reservation__wrapper, .reviews__wrapper, .gallery__wrapper, .contact__wrapper {
  padding-right: 20%;
  padding-left: 20%; }

/*------------------------------------*\
	HEADER
\*------------------------------------*/
#myHeader {
  display: block; }

.burger {
  display: none; }

.header {
  position: relative;
  z-index: 1; }

.top-menu {
  width: 100%;
  padding: .5rem 0;
  font-size: .8rem;
  background-color: #e4bb7a; }

.top-menu__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.top-menu__link {
  display: inline-block; }

.top-menu__link,
.top-menu__link:link,
.top-menu__link:hover,
.top-menu__link:visited {
  color: #000; }

.top-menu__marker {
  display: inline-block;
  width: 9px;
  height: 13px;
  background: url("../img/sprites-header.png") 0 0; }

.top-menu__address {
  font-size: 1.5rem; }

.social__item {
  padding: 1rem;
  color: #fff;
  font-size: 2rem; }

.top__link:hover,
.social__item:hover {
  opacity: .7; }

.header__wrapper {
  position: relative;
  height: 100%;
  padding: 0 10%; }

.header__menu {
  top: 36px;
  width: 100%;
  height: 50px;
  background-color: #000;
  border-bottom: 2px solid #e4bb7a; }

.header_sticky {
  position: fixed;
  top: 0;
  width: 100%; }

.header__logo {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 44px;
  height: 39px; }

.header__logo-img {
  width: 100%; }

.nav {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: right;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-size: 1.1rem;
  font-weight: 400;
  text-transform: uppercase; }

.nav__item {
  display: inline-block;
  color: #fff; }

.nav__button {
  display: none; }

.nav__link {
  padding: 0px 10px;
  border-left: 2px solid;
  border-right: 2px solid;
  margin: 0px -4px; }

.nav__link,
.nav__link:link,
.nav__link:visited {
  color: #fff; }

.nav__link:hover {
  color: #f2ddbd; }

.dropdown {
  opacity: 0;
  position: absolute;
  visibility: hidden;
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease; }

.nav__item-dropdown:hover .dropdown {
  opacity: 1;
  visibility: visible;
  padding: 1rem;
  background: #000;
  border-bottom: #e4bb7a 2px solid;
  transform: translate(-10%); }

.dropdown__item {
  padding: 10px;
  text-align: center; }

.dropdown__link {
  color: #fff; }

/*------------------------------------*\
	HOME
\*------------------------------------*/
.home {
  position: relative;
  width: 100%;
  height: calc(100vh - 90px);
  min-height: 480px;
  background: url(../img/home-bg.jpg) no-repeat center;
  background-size: cover;
  background-color: #000; }

.home_paralax {
  background-attachment: fixed; }

.home__wrapper {
  position: absolute;
  top: calc(50% + (80px / 2));
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center; }

.home__title {
  font-size: 2rem; }

.home__subtitle {
  font-family: Average, "Times New Roman", Times, serif;
  font-size: 3.8rem;
  font-weight: 400;
  letter-spacing: normal;
  text-transform: none;
  color: #fff;
  white-space: nowrap; }

.home__subtitle::after {
  content: "";
  width: 70px;
  height: 10px;
  background: url(../img/arrow.png);
  position: relative;
  position: absolute;
  top: 65%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.home__text {
  display: block;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-size: .8rem;
  line-height: 1.2;
  color: #fff; }

.home__button {
  color: #000; }

.arrow--home,
.button--home {
  margin-top: 80px; }

.home__button {
  margin-top: 80px; }

.scroll-down {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: 50px;
  display: block;
  padding: 5px; }

@-webkit-keyframes scroll-down_animation {
  0% {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    -webkit-transform: translateY(10px);
    -ms-transform: translateY(10px);
    transform: translateY(10px);
    opacity: 0; } }
@keyframes scroll-down_animation {
  0% {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    -webkit-transform: translateY(10px);
    -ms-transform: translateY(10px);
    transform: translateY(10px);
    opacity: 0; } }
.scroll-down_animation {
  -webkit-animation: scroll-down_animation 1.5s ease-in-out infinite;
  animation: scroll-down_animation 1.5s ease-in-out infinite; }

/*------------------------------------*\
	ABOUT US
\*------------------------------------*/
.about {
  position: relative;
  width: 100%;
  padding-top: 90px;
  padding-bottom: 100px;
  color: #000;
  background: url("../img/about-bg.jpg") no-repeat center;
  background-size: cover;
  background-position: center top;
  background-color: #fff; }

.about__container {
  padding: 0 10%; }

.about__image {
  position: relative;
  width: 22.5%; }

.about__wrapper {
  position: relative; }

.about img:nth-of-type(n+2) {
  margin-left: calc((2 * 15px) - 4px); }

.about__box {
  position: absolute;
  top: 50%;
  right: 24.5%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 28.5%;
  height: 55%;
  border: 1px solid #e4bb7a; }

.about__wrapper {
  position: absolute;
  top: 50%;
  right: 15%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  display: -webkit-flex;
  -webkit-flex-direction: column;
  -webkit-justify-content: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 38%;
  height: 40%;
  padding: 30px 60px 30px;
  background-color: #fff; }

.about__subtitle {
  margin-top: 10px; }

.about__text {
  margin-top: 30px;
  font-size: 1rem;
  line-height: 1.625; }

/*------------------------------------*\
	MENU
\*------------------------------------*/
.menu {
  width: 100%;
  padding-top: 4rem;
  padding-bottom: 3rem;
  text-align: center;
  background: url("../img/menu-bg.jpg") no-repeat center;
  background-size: cover;
  background-position: center top;
  background-color: #000; }

.menu_parallax {
  background-attachment: fixed; }

.menu__subtitle {
  margin-top: 10px; }

.menu__text {
  margin-top: 50px;
  margin-right: 22.5%;
  margin-left: 22.5%;
  font-size: 1.1rem;
  line-height: 1.6; }

.menu__item-group {
  text-align: left;
  margin-top: 80px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row; }

.menu__wrapper {
  padding: 0 10%; }

.menu__item {
  position: relative;
  margin-bottom: 3rem;
  flex-basis: calc(50%); }

.menu__image,
.menu__caption {
  display: inline-block; }

.menu__image {
  width: 70px;
  height: 70px; }

.menu__caption {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: calc(100% - 90px);
  padding-left: 10px; }

.menu__name,
.menu__desc {
  display: block; }

.menu__name,
.menu__price {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-size: .8rem;
  font-weight: 700;
  letter-spacing: .12rem;
  text-transform: uppercase; }

.menu__desc {
  margin-top: 1rem;
  color: #e4bb7a; }

.menu__price {
  position: absolute;
  top: 0;
  left: calc(83.33%); }

/*------------------------------------*\
	OPENING HOURS
\*------------------------------------*/
.opening {
  width: 100%;
  padding-top: 70px;
  padding-bottom: 100px;
  color: #000;
  text-align: center;
  background: url("../img/opening-bg.jpg") no-repeat center;
  background-size: cover;
  background-color: #fff; }

.opening__wrapper {
  padding-right: 20%;
  padding-left: 20%; }

.opening__subtitle {
  margin-top: 10px; }

.opening__conteiner {
  display: -webkit-flex;
  -webkit-flex-wrap: wrap;
  display: flex;
  flex-wrap: wrap;
  margin-top: 80px;
  background-color: #fff; }

.opening__wrapper {
  padding: 0 10%; }

.opening__image {
  width: 65%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.opening__hours {
  display: -webkit-inline-flex;
  -webkit-flex-direction: column;
  -webkit-justify-content: center;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  width: calc(100% - 65% - 20px);
  padding: 30px;
  border: 1px solid #000;
  margin: 10px;
  text-align: center;
  box-sizing: border-box; }

.opening__hours .hours__title,
.opening__hours .hours__text {
  font-size: 1.1rem; }

.opening__hours .hours__title {
  font-family: sans-serif;
  font-weight: 700;
  line-height: 1.625;
  letter-spacing: .12rem;
  text-transform: uppercase; }

.opening__hours .hours__title:nth-of-type(n+2) {
  display: inline-block;
  margin-top: 40px; }

.opening__hours .hours__text {
  line-height: 1.5625; }

/*------------------------------------*\
	STAFF
\*------------------------------------*/
.staff {
  width: 100%;
  padding-top: 85px;
  padding-bottom: calc(90px - 30px);
  text-align: center;
  background: url("../img/staff-bg.jpg") no-repeat center;
  background-size: cover;
  background-position: center bottom;
  background-color: #000; }

.staff__wrapper {
  padding: 0 10%; }

.staff_parallax {
  background-attachment: fixed; }

.stuff__subtitle {
  margin-top: 10px; }

.staff__person-group {
  margin-top: 90px;
  display: flex; }

.staff__person_hover:hover {
  transform: scale(1.1); }

.staff__person {
  margin-bottom: 10px;
  padding: 20px;
  transition: all .2s; }

.staff__image {
  display: inline-block;
  width: 100%;
  max-width: 270px; }

.social__staff-group,
.staff__desc {
  margin-top: 30px; }

.social__staff {
  padding: 0 5px;
  color: #e4bb7a; }

.social__staff:hover {
  opacity: .7; }

.staff__name,
.staff_desc {
  display: block; }

.staff__name {
  margin-top: 50px;
  font-family: sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: .12rem;
  text-transform: uppercase;
  white-space: nowrap; }

.staff__position {
  font-size: .8rem;
  line-height: 1.5625;
  color: #e4bb7a; }

.staff__desc {
  font-size: .8rem;
  line-height: 1.5625; }

/*------------------------------------*\
	RESERVATION
\*------------------------------------*/
.reservation {
  width: 100%;
  padding-top: 80px;
  padding-bottom: 100px;
  color: #000;
  text-align: center;
  background: url("../img/reservation-bg.jpg") no-repeat center;
  background-size: cover;
  background-color: #fff; }

.reservation__button {
  cursor: pointer;
  margin-top: 45px; }

.reservation__subtitle {
  margin-top: 10px; }

.reservation__arrow {
  margin-top: 40px; }

.reservation__text {
  margin-top: 40px;
  margin-right: 17.5%;
  margin-left: 17.5%;
  font-size: 1.1rem;
  line-height: 1.625; }

/*------------------------------------*\
	REVIEWS
\*------------------------------------*/
.reviews {
  width: 100%;
  padding-top: 100px;
  padding-bottom: 83px;
  text-align: center;
  background: url("../img/reviews-bg.jpg") no-repeat center;
  background-size: cover;
  background-color: #000; }

.reviews_parallax {
  background-attachment: fixed; }

.reviews__quote {
  display: block;
  width: 18px;
  height: 16px;
  margin-right: auto;
  margin-left: auto; }

.carousel__inner {
  position: relative;
  height: 150px;
  padding: 0px;
  margin: 0px;
  list-style-type: none; }

.carousel__item-wrapper {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s; }

.active {
  opacity: 1; }

.carousel_border {
  padding-bottom: 65px;
  margin-top: 50px; }

.carousel__item {
  margin-right: 17.5%;
  margin-left: 17.5%; }

.carousel__desc {
  line-height: 1.5625; }

.carousel__desc,
.carousel__position {
  font-size: .75rem; }

.carousel__name,
.carousel__position {
  display: block; }

.carousel__name {
  margin-top: 45px;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-size: .8rem;
  font-weight: 700;
  letter-spacing: .12rem;
  text-transform: uppercase; }

.carousel__position {
  margin-top: 1.1rem;
  color: #e4bb7a; }

/*------------------------------------*\
	GALLERY
\*------------------------------------*/
.gallery {
  background: url(../img/staff-bg.jpg) no-repeat center;
  background-size: cover;
  background-position: center bottom;
  background-color: #000;
  width: 100%;
  padding-top: 85px;
  padding-bottom: calc(90px - 30px);
  text-align: center;
  background-attachment: fixed; }

.gallery__container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around; }

.gallery__subtitle {
  padding: 1rem; }

.picture {
  width: 300px;
  height: 300px;
  margin: 1.25rem .25rem 0rem;
  border-radius: 6px;
  font-size: 3rem;
  overflow: hidden;
  transition: background-color 0.5s ease, transform 0.5s ease;
  position: relative; }
  .picture:hover {
    transform: scale(1.1); }
    .picture:hover .picture__wrapper::after {
      opacity: 0; }
    .picture:hover .picture__item {
      transform: scale(1.2); }
    .picture:hover .picture__wrapper-text .picture__title {
      text-decoration: underline; }

.picture__wrapper {
  transition: transform 0.5s ease;
  position: relative;
  display: block;
  width: 100%;
  overflow: hidden; }
  .picture__wrapper::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #e4bb7a;
    opacity: .4;
    transition: background-color 0.5s ease, opacity 0.5s ease; }

.picture__wrapper {
  transition: transform 0.5s ease;
  position: relative;
  display: block;
  width: 100%;
  overflow: hidden; }
  .picture__wrapper::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #e4bb7a;
    opacity: .4;
    transition: background-color 0.5s ease, opacity 0.5s ease; }

.picture__item {
  width: 100%;
  display: block;
  transition: transform 3s ease; }

.picture__wrapper-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  flex-flow: column wrap;
  text-align: center;
  color: #fff; }

.picture__title {
  font-size: 1.8rem;
  padding: 10px; }

.picture_desc {
  font-size: 1rem;
  padding: 20px;
  line-height: 1.5; }

/*------------------------------------*\
	CONTACT
\*------------------------------------*/
.contact__phone {
  font-size: 3rem;
  color: #000;
  padding: 1rem 0;
  display: block; }

.contact__location-link {
  color: #000;
  font-size: 2rem;
  box-sizing: border-box;
  display: block;
  padding: 1rem; }

.contact__map {
  border: 5px solid #000;
  border-radius: 15px;
  padding: 5px;
  box-sizing: border-box; }

.social_center {
  justify-content: center;
  padding: 1rem; }

.social__item_black_big {
  color: #000;
  font-size: 3rem; }

.contact {
  width: 100%;
  padding-top: 100px;
  padding-bottom: 96px;
  text-align: center;
  background: url("../img/subscribe-bg.jpg") no-repeat center;
  background-size: cover;
  background-color: #fff; }

.contact__subtitle {
  color: #000;
  padding: 1rem; }

/*------------------------------------*\
	FOOTER
\*------------------------------------*/
.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 10%;
  background: #000;
  min-height: 100px; }

.footer__register {
  padding: 5px;
  border: none;
  border-bottom: 2px solid #e4bb7a;
  cursor: pointer;
  outline: none;
  font-size: 1.1rem;
  color: #fff;
  background-color: #e4bb7a; }

.footer__login {
  padding: 5px;
  border: none;
  border-bottom: 2px solid #e4bb7a;
  cursor: pointer;
  outline: none;
  font-size: 1.1rem;
  color: #fff;
  background-color: #e4bb7a; }

.search__input {
  width: 100px;
  padding-left: 10px; }

.search__cancel {
  border: none;
  color: #fff;
  background-color: #afafaf;
  border-radius: 2px; }

.search__submit {
  border: none;
  outline: none;
  color: #fff;
  background-color: #afafaf; }

/*------------------------------------*\
	POPUP
\*------------------------------------*/
.form__close {
  position: absolute;
  right: -17px;
  top: -18px;
  cursor: pointer;
  height: 40px;
  width: 40px;
  background: none;
  outline: none;
  border: 3px solid #afafaf;
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0 0 10px #000; }
  .form__close:before, .form__close:after {
    transform: rotate(-45deg);
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -1px;
    margin-left: -13px;
    display: block;
    height: 3px;
    width: 26px;
    background-color: #afafaf;
    transition: all 0.2s ease-out; }
  .form__close:after {
    transform: rotate(45deg); }
  .form__close:hover:before, .form__close:hover:after {
    transform: rotate(0deg); }

.form__table {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  padding: 10px;
  border: 3px solid #afafaf;
  background: #e4bb7a;
  margin: 20px 0;
  border-radius: 10px; }

.table__item {
  visibility: hidden;
  width: 0;
  margin: 0; }

.table__label {
  cursor: pointer;
  background-color: #734f42;
  color: #fff;
  padding: 10px 10px;
  margin: 10px;
  border: 2px solid #543a30;
  box-shadow: 0 0 10px #afafaf;
  transition: all 0.3s ease-out; }

input[type="radio"]:hover + .table__label {
  border: 2px solid #e09b7f;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5); }

input[type="radio"]:disabled:hover + .table__label {
  border: 2px solid #543a30;
  box-shadow: 0 0 10px #afafaf; }

input[type="radio"]:checked + .table__label {
  background-color: #599c5c; }

input[type="radio"]:disabled + .table__label {
  background-color: #383838;
  cursor: not-allowed;
  color: #000; }

#bookingPopUp {
  display: none; }

.booking-popup {
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  background-color: #313131f1;
  overflow: hidden;
  z-index: 2;
  display: flex;
  justify-content: center; }

.booking-popup__wrapper {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%); }

.booking-popup__form {
  width: 300px;
  padding: 1rem;
  border: 3px solid #afafaf;
  border-radius: 10px;
  font-family: raleway;
  background-color: #fff;
  box-shadow: 0 0 10px v; }

.form__title {
  text-align: center;
  color: #afafaf; }

.form__line {
  margin: 10px 0 0; }

.form__item {
  width: 100%;
  padding: .6rem;
  margin-top: .6rem;
  box-sizing: border-box; }

.form__item_width {
  width: 100%; }

.form__submit {
  position: relative;
  left: 50%;
  transform: translate(-50%);
  line-height: 34px;
  font-size: 1.1rem;
  text-transform: uppercase;
  background-color: #e4bb7a;
  border: none; }

/*------------------------------------*\
	MEDIA QUERIES
\*------------------------------------*/
/* Extra large devices (large desktops) */
@media (max-width: 1599px) {
  body {
    font-size: 18px; }

  .top-menu__wrapper, .header__wrapper, .about__container, .opening__wrapper, .staff__wrapper, .reservation__wrapper, .reviews__wrapper, .gallery__wrapper, .contact__wrapper {
    padding-right: 10%;
    padding-left: 10%; }

  .about__box {
    right: 21%;
    width: 33%; }

  .about__wrapper {
    right: 10%;
    width: 44%;
    padding: 20px 40px 20px; }

  .about p {
    margin-top: 20px; } }
/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199px) {
  body {
    font-size: 16px; }

  h3 {
    font-size: 2.8125rem; }

  h2 {
    font-size: 2.25rem; }

  .nav,
  .button,
  .about p,
  .menu p,
  .menu__desc,
  .opening__hours span,
  .opening__hours p,
  .staff__position,
  .staff__desc,
  .reservation p,
  .carousel__desc,
  .carousel__position,
  .input--subscribe {
    font-size: .937rem; }

  .home h3 {
    font-size: 3.125rem; }

  .home h2 {
    font-size: 4rem; }

  .staff__name {
    font-size: 1rem; }

  .about__image {
    width: 30%; }

  .about__box {
    right: 21.5%;
    width: 33.7%; }

  .about__wrapper {
    width: 45%; }

  .social__staff-group,
  .staff__desc {
    margin-top: 20px; }

  .menu p,
  .staff__name {
    margin-top: 40px; }

  .menu__item-group,
  .opening__conteiner,
  .staff__person-group {
    margin-top: 60px; }

  .menu__desc {
    margin-top: 8px; }

  .opening .top-menu__wrapper, .opening .header__wrapper, .opening .about__container, .opening .opening__wrapper, .opening .staff__wrapper, .opening .reservation__wrapper, .opening .reviews__wrapper, .opening .gallery__wrapper, .opening .contact__wrapper {
    padding-right: 10%;
    padding-left: 10%; } }
/* Medium devices (tablets, less than 992px) */
@media (max-width: 991px) {
  body {
    font-size: 15px; }

  #myHeader {
    display: none; }

  .burger {
    display: block; }

  * {
    box-sizing: border-box; }

  body.open:before {
    visibility: visible;
    opacity: 1; }

  body:before {
    content: "";
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    visibility: hidden;
    opacity: 0;
    transition: all 0.4s ease; }

  .top-menu {
    width: 100%;
    padding: 10px 10%;
    box-sizing: border-box;
    font-size: 1rem;
    background-color: #e4bb7a; }

  .top-menu__wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; }

  .social {
    flex-direction: row;
    display: flex; }

  .header__menu {
    height: 0px;
    border-bottom: 0px solid #e4bb7a; }

  .header__logo {
    display: none; }

  .nav {
    position: fixed;
    top: 50px;
    left: 10px;
    transform: translateY(0%); }

  .nav__button {
    display: block;
    position: relative;
    background: #e4bb7a;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px soli #fff;
    transition: all 0.5s ease;
    box-shadow: 0px 0px 5px 1px #afafaf; }

  .nav__button.open {
    border: 2px solid #fff;
    box-shadow: none; }

  .nav__button__icon {
    display: inline-block;
    position: absolute;
    background: #fff;
    margin: 0 auto;
    width: 20px;
    height: 2px;
    top: 50%;
    left: 0;
    right: 0;
    transition: all 0.5s ease;
    transform: translateY(-1px); }

  .nav__button__icon:before,
  .nav__button__icon:after {
    content: "";
    position: absolute;
    margin: 0 auto;
    background: #fff;
    width: 20px;
    height: 2px;
    left: 0;
    right: 0;
    transition: all 0.5s ease; }

  .nav__button__icon:before {
    bottom: 10px; }

  .nav__button__icon:after {
    top: 10px; }

  .nav__button.open .nav__button__icon {
    background: transparent; }

  .nav__button.open .nav__button__icon:before,
  .nav__button.open .nav__button__icon:after {
    transform-origin: 0 50%;
    width: 28.28427125px; }

  .nav__button.open .nav__button__icon:before {
    transform: rotateZ(0.78539816rad); }

  .nav__button.open .nav__button__icon:after {
    transform: rotateZ(-0.78539816rad); }

  .nav__item {
    display: block;
    margin: 1.1rem 0;
    visibility: hidden;
    transition: all 0.5s ease;
    transform: translateX(-400px); }

  .nav__item:hover {
    box-shadow: 0px 0px 1.1rem #e4bb7a; }

  .nav__wrapper a {
    color: #fff;
    transition: all 0.4s ease;
    padding: 0px;
    border-left: 0px solid;
    border-right: 0px solid; }

  .nav__button.open + .nav__wrapper li {
    border-radius: 30px;
    margin: 1.1rem 0;
    min-width: 10rem;
    transform: translateX(0);
    visibility: visible;
    background-color: #1d1d1d;
    padding: .3rem 1rem;
    border: 2px solid;
    text-align: center;
    box-shadow: 0px 0px 1.1rem #e4bb7a; }

  .nav__link {
    padding: 0px 10px;
    border-left: 2px solid;
    border-right: 2px solid;
    margin: 0px -3px; }

  .nav__link_not-active {
    pointer-events: none;
    cursor: default; }

  .nav__item-dropdown .dropdown {
    left: 140px;
    top: -80px; }

  .nav__item-dropdown:hover .dropdown {
    opacity: 1;
    top: -80px;
    left: 147px;
    background: none;
    border: none;
    transform: translate(0%); }

  .burger {
    position: fixed;
    top: 20px;
    left: 20px; }

  .burger__button {
    display: block;
    position: relative;
    background: #e4bb7a;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: all 0.5s ease; }

  .burger__button.open {
    border: 2px solid #fff;
    box-shadow: none; }

  .burger__button__icon {
    display: inline-block;
    position: absolute;
    background: #fff;
    margin: 0 auto;
    width: 20px;
    height: 2px;
    top: 50%;
    left: 0;
    right: 0;
    transition: all 0.5s ease;
    transform: translateY(-1px); }

  .burger__button__icon:before,
  .burger__button__icon:after {
    content: "";
    position: absolute;
    margin: 0 auto;
    background: #fff;
    width: 20px;
    height: 2px;
    left: 0;
    right: 0;
    transition: all 0.5s ease; }

  .burger__button__icon:before {
    bottom: 10px; }

  .burger__button__icon:after {
    top: 10px; }

  .burger__button.open .burger__button__icon {
    background: transparent; }

  .burger__button.open .burger__button__icon:before,
  .burger__button.open .burger__button__icon:after {
    transform-origin: 0 50%;
    width: 28.28427125px; }

  .burger__button.open .burger__button__icon:before {
    transform: rotateZ(0.78539816rad); }

  .burger__button.open .burger__button__icon:after {
    transform: rotateZ(-0.78539816rad); }

  .burger__menu {
    padding: 0 0 0 20px; }

  .burger__menu li {
    margin: 1.1rem 0;
    visibility: hidden;
    transition: all 0.5s ease;
    transform: translateX(-400px); }

  .burger__menu li:hover {
    box-shadow: 0px 0px 1.1rem #e4bb7a; }

  .burger__menu a {
    color: #fff;
    font-size: 1.5rem;
    transition: all 0.4s ease;
    font-family: Montserrat, Arial, Helvetica, sans-serif; }

  .burger__button.open + .burger__menu li {
    transform: translateX(0);
    visibility: visible;
    background-color: #1d1d1d;
    padding: 10px;
    border-radius: 83px;
    border: 2px solid;
    text-align: center; }

  .about,
  .reservation {
    padding-top: 70px;
    padding-bottom: 80px; }

  .about__image {
    width: 25%; }

  .about img:first-of-type {
    margin-left: 8.33%; }

  .about__box {
    right: auto;
    left: 15%;
    width: 47%;
    height: 90%; }

  .about__wrapper {
    position: relative;
    top: auto;
    right: auto;
    left: auto;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    display: block;
    width: 80%;
    height: auto;
    padding: 40px 60px 30px;
    margin-top: -20px; }

  .menu,
  .staff {
    padding-top: 70px;
    padding-bottom: calc(80px - 20px); }

  .menu__image {
    width: 50px;
    height: 50px; }

  .menu__caption {
    width: calc(100% - 50px);
    padding-right: calc(.16 * (100% - 50px) + 20px);
    padding-left: calc(20px - 4px); }

  .menu p,
  .opening__hours span:nth-of-type(n+2),
  .staff__name,
  .carousel__name {
    margin-top: 30px; }

  .menu__item-group,
  .opening__conteiner,
  .staff__person-group {
    margin-top: 50px; }

  .opening {
    padding-top: 60px;
    padding-bottom: 80px; }

  .opening__hours {
    padding: 20px; }

  .reviews,
  .subscribe {
    padding-top: 80px;
    padding-bottom: 70px; }

  .carousel_border {
    padding-bottom: 50px;
    margin-top: 50px; }

  .carousel__position {
    margin-top: 10px; }

  .menu__item-group {
    flex-direction: column; } }
/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767px) {
  body {
    font-size: 14px; }

  .top-menu__wrapper, .header__wrapper, .about__container, .opening__wrapper, .staff__wrapper, .reservation__wrapper, .reviews__wrapper, .gallery__wrapper, .contact__wrapper {
    padding-right: 6.25%;
    padding-left: 6.25%; }

  .arrow {
    width: 50px;
    height: 7px; }

  .button {
    width: 140px;
    height: 40px;
    line-height: 40px; }

  .arrow--home,
  .button--home,
  .arrow--reservation,
  .button--reservation,
  .reservation p,
  .arrow--subscribe,
  .form--subscribe {
    margin-top: 90px; }

  .home__button {
    margin-top: 90px; }

  .header__logo {
    width: 35px;
    height: 31px; }

  .home__wrapper {
    top: calc(50% + (60px / 2)); }

  .about,
  .opening,
  .reservation {
    padding-top: 50px;
    padding-bottom: 60px; }

  .about__image {
    width: 30%; }

  .about__box {
    left: 11%;
    width: 62.5%; }

  .menu,
  .staff {
    padding-top: 50px;
    padding-bottom: calc(60px - 20px); }

  .menu p,
  .opening__hours span:nth-of-type(n+2),
  .staff__name {
    margin-top: 20px; }

  .menu p {
    margin-right: 15%;
    margin-left: 15%; }

  .menu__item-group,
  .opening__conteiner,
  .staff__person-group,
  .carousel_border {
    margin-top: 40px; }

  .menu__item {
    margin-bottom: 20px; }

  .menu__desc {
    margin-top: 5px; }

  .opening__image,
  .opening__hours {
    width: 100%; }

  .opening__image {
    height: 0;
    padding-top: 45.71%; }

  .staff__image {
    width: 75%; }

  .social__staff-group,
  .staff__desc {
    margin-top: 10px; }

  .reservation p {
    margin-right: 10%;
    margin-left: 10%; }

  .reviews,
  .subscribe {
    padding-top: 60px;
    padding-bottom: 50px; }

  .carousel__position {
    margin-top: 5px; }

  .input--subscribe {
    width: 200px;
    height: 40px;
    padding-left: 20px; }

  .submit--subscribe {
    margin-left: calc(20px - 4px); } }
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575px) {
  body {
    font-size: 12px; }

  .home span,
  .button,
  .about p,
  .menu p,
  .menu__desc,
  .opening__hours span,
  .opening__hours p .staff__position,
  .staff__desc,
  .reservation p,
  .carousel__desc,
  .carousel__position,
  .input--subscribe {
    font-size: 1rem; }

  .menu__name,
  .menu__price {
    font-size: 0.9rem; }

  .home h2 {
    white-space: normal;
    overflow: visible; }

  .about__image {
    width: 35%; }

  .about img:first-of-type {
    margin-left: calc(15% - 1.1rem); }

  .about__box {
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: calc(60% + 60px); }

  .about__wrapper {
    width: 100%;
    padding: 30px 40px 20px; }

  .opening__hours span:nth-of-type(n+2),
  .staff__name,
  .social__staff-group {
    margin-top: 10px; }

  .menu p,
  .reservation p {
    margin-right: 0;
    margin-left: 0; }

  .menu__item-group,
  .opening__conteiner,
  .staff__person-group,
  .carousel_border {
    margin-top: 30px;
    display: flex;
    flex-direction: column; }

  .opening__hours {
    padding-right: 10px;
    padding-left: 10px;
    width: calc(100% - 20px); }

  .staff__image {
    width: 40%; }

  .staff__desc {
    padding-right: 12.5%;
    padding-left: 12.5%; }

  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    top: 10%; }

  .input--subscribe,
  .submit--subscribe {
    display: block;
    margin-right: auto;
    margin-left: auto; }

  .submit--subscribe {
    margin-top: 20px; } }
@media (min-width: 1920px) {
  .top-menu__wrapper, .header__wrapper, .about__container, .opening__wrapper, .staff__wrapper, .reservation__wrapper, .reviews__wrapper, .gallery__wrapper, .contact__wrapper {
    padding-right: 20%;
    padding-left: 20%; }

  .about__box {
    right: 28%;
    width: 24.375%; }

  .about__wrapper {
    right: 20%;
    width: 32.5%; } }

/*# sourceMappingURL=style.css.map */
